.myview{
    background-image: url('https://i.postimg.cc/9fW8PDf2/sea.jpg');
}
.container-center{
	display: flex;
	justify-content: center;
	align-items: center;

}
.op-seven{
    opacity: 0.75 !important;
    border-radius: 3% !important;
}
button{
   background-color: #d17866 !important;
}
