.card{
    border-radius: 3%;
    opacity: 0.65;
}
img{
    width: 5em !important;
}

.bord-r{
    border-radius: 5% !important; 
}
.temp{
    font-weight: 900 !important;
    font-size: 5em !important;
}